{

  "extends": [
    "eslint:recommended"
  ],

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },

  "env": {
    "browser": true,
    "node": true
  },

  "globals": {
        "frequency": true
    },

  "plugins": [
  ],

  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 1,
    "quotes": [2, "single"]
  }
}
